body{
    background-image:url(bg8.png);
    width: auto;
    height: auto;
    background-size:cover;
    background-repeat: no-repeat;
    
}

body::before{
    opacity: 0.5;
}

.container{
    
    text-align: center;
    width: 400px;
    padding: 40px;
    margin:auto;
}

h1{
    text-align:center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p{
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#count{
    font-size: 3rem;
    font-weight: bolder;
    margin: 20px;
}


button{
    padding:12px;
    border:none;
    border-radius:8px;

}

#increment{
    background-color: crimson;
    color:white;
    

}

#save{
    background-color: green;
    color:white;
    
}

